@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
/*+++++++++++++++++++++++++++
 UNIVERSAL DESIGN 
 ++++++++++++++++++++++++++++*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-family: "Hind Siliguri", sans-serif;
}

*::selection {
  color: #000;
  background-color: #fff;
}

:root {
  --bg-color: #081b29;
  --main-color: #48e655;
  --text-color: #ededed;
  --secund-bg-color: #112e42;
}

html {
  font-size: 64.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* Navbar design */

.nav-bar > h3 {
  color: var(--bg-color);
  font-size: 24px;
}

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: var(--text-color);
}
.main-menu i {
  color: var(--bg-color);
}

.main-menu > ul {
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* Media Query Section Design */

@media only screen and (max-width: 700px) {
  .logo-name {
    font-size: 15px;
  }
  .nav-list {
    display: none;
  }
}
